<!DOCTYPE html>
<html>
<head>
<title>All User Details</title>
</head>
<body>
<h1>List of All Users</h1>
<table border="2">
 <tr>
          <th> First Name</th>
     <th> Last Name</th>
     <th>Email Id</th>
     <th>User Type</th>
  </tr>
  <tr th:each = "u : ${user}">
        <td th:text="${u.firstname}"></td>
		<td th:text="${u.lastname}"></td>
		<td th:text="${u.email}"></td>
		<td th:text="${u.UserType}"></td>
   </tr>
</table>
</body>
</html>