<!DOCTYPE html>
<html>

<head>
  <title>Registration Confirmation </title>
</head>

<body bgcolor=orange>

Registered Successfully!!! 
<br>
<h2><div th:text="${name}"></div></h2>

<a href="../index.html"> LOGIN</a>

</body>