<!DOCTYPE html>
<html>
<head>

<title>All Tests Details</title>
</head>
<body>
<h1>List of Candidates and Tests</h1>
<table border="2">
	<tr>
		<th>Test Date</th>
		<th>Assessment</th>
		<th>Test Marks</th>
		<th>Email ID</th>
		<th>Total Marks</th>
		<th>Result</th>
	</tr>
	<tr th:each = "t : ${test}">
		<td th:text="${t.TestDate}"></td>
		<td th:text="${t.Assessment}"></td>
		<td th:text="${t.TestMarks}"></td>
		<td th:text="${t.email}"></td>
		<td th:text="${t.TotalMarks}"></td>
		<td th:text="${t.result}"></td>
	</tr>
</table>
</body>
</html>